body {
	background: black;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
* {
	border: 1px dashed red;
	min-height: 10px;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 345px;
	height: 50px;
	margin: 0;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0;
}
.body-left,
.body-right {
	padding: 5px;
}
input {
	border-bottom: solid grey;
}
p {
	font-size: medium;
}
.postcard-footer {
	text-align: center;
}
.postcard-footer button {
	background-color: solid rgb(216, 44, 44);
	padding: 4px;
}
